Django==5.2.7
requests==2.31.0
google-generativeai==0.4.0  # or latest compatible version
openai==1.109.1               # or latest compatible version
pdfkit==1.0.0
django-ckeditor==6.5.0
Pillow==10.4.0
groq

python-docx
docx2txt
pillow
PyPDF2
pdf2image
pytesseract
reportlab
pdfplumber
docx2pdf
pymupdf
prompt_toolkit
tavily-python
python-dotenv
beautifulsoup4 
selenium webdriver-manager

langchain==0.2.16
langchain-community==0.2.16
langchain-core==0.2.38

langchain-ollama
langchain-text-splitters
